body{
    padding: 0;
    margin: 0;
}

h3{
    color: rgb(250, 250, 250);
    margin: 5px 0 0 10px;
}

#clock{
    color: rgb(250, 250, 250);
    text-align: center;
    margin: 330px 0 0 0;
    font-family: impact;
    font-weight: 10;
    font-size: 800%;
}